<div class="container">
  <div class="row">
    <div class="col-md-7">
      <table class='table' >
        <thead>
          <tr >
            <th {{ action 'sortBy' 'show_title' }} class="cPointer">Title</th>
            <th {{ action 'sortByAZ' 'rating'}} class="cPointer">
              Rating
              {{#if isNone}}
                  <small>Click to Sort</small>
                {{else}}
                  {{#if isAsc}}
                    <small>Sort by Rating (ASC)</small>
                  {{else}}
                    <small>Sort by Rating (DESC)</small>
                  {{/if}}
              {{/if}}
            </th>
            <th {{ action 'sortBy' 'director'}} class="cPointer">Director</th>
          </tr>
        </thead>

        <tbody>
          {{#each }}
            <tr>
              <td>
                 {{show_title}}
              </td>
              <td>
                {{rating}}
              </td>
              <td>
                 {{#link-to 'directors' director}}{{director}}{{/link-to}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="col-md-5">
      {{outlet}}
    </div>
    
  </div>
</div>